.listItem{
	background-color:white;

	height:25px;
	width:80%;

	color:#505151;
	font-weight:bold;

	box-shadow: 2px 2px 5px #888888;
	border-radius: 5px;
	overflow:hidden;

	margin:5px auto 0 auto;
	border:0;
	padding:10px 10px 5px 10px;
}

.listItem p{
	height:auto;
	width:auto;

	color:green;

	display:inline-block;

	text-align:left;

	margin:-3px 0 0 auto;
	border:0;
	padding:0;
}

.deleteButton{
	width:20px;
	height:20px;

	display:inline-block;
	float:right;

	margin:0;
	border:0;
	padding:0;
}

.acceptButton{
	width:25px;
	height:25px;

	display:inline-block;
	float:right;

	margin:0;
	border:0;
	padding:0;
}

.editBox{
	background-color: white;

	font-weight:bold;
	color:#505151;

	height:auto;

	margin:20px auto 10px auto;

	width:80%;

	box-shadow: 2px 2px 5px #888888;
	border-radius: 5px;
	overflow:hidden;

	border:0;
	padding:10px 10px 5px 10px;
}

.editBox h1{
	font-size:1em;
	font-weight:bold;
}

input{
	color:#9c9d9b;
	font-weight:bold;
	font-family: 'Helvetica';
	font-style:italic;

	border:0;
}

.editTitle{
	width:80%;
	
	display:none;

	margin:2px;
	padding:5px;
}

.editMoney{
	width:30%;

	margin:10px 2px;
	padding:5px;
}

.editing{

}

.displayTitle{
	width:80%;
	
	display:inline-block;

	margin:0px;
	padding:2px;
}

.addButton{
	background-color:#dedede;

	height:30px;
	width:45%;

	font-weight:bold;
	color:#858784;

	display: inline-block;

	margin:20px 0 10px 10px;
	border:0;
	padding:0;
}

.addButton:hover{
	cursor:pointer;
	color:#01a4c3;
}

.cancelButton{
	background-color:#dedede;

	height:30px;
	width:45%;

	font-weight:bold;
	color:#858784;

	display: none;

	margin:20px 0 10px 10px;
	border:0;
	padding:0;
}

.cancelButton:hover{
	cursor:pointer;
	color:#01a4c3;
}

.saveButton{
	background-color:#dedede;

	height:30px;
	width:20%;

	font-weight:bold;
	color:#858784;

	display: none;

	margin:10px 0 10px 0;
	border:0;
	padding:0 0 0 30%;
}

.saveButton:hover{
	cursor:pointer;
	color:#01a4c3;
}