#headerWrap{
	background-color:#1E628A;

	width:100%;
	height:50px;

	display:block;
	overflow:hidden;

	margin:0 auto;
	border:0;
	padding:0;
}

#logo{
	height:40px;
	max-width: 200px;

	display:block;

	margin:5px auto;
	border:0;
	padding:0;
}

#contentWrap{
	background-color:#23719F;

	height:1000px;
	width:100%;

	display:block;
	overflow:hidden;

	margin:0 auto;
	border:0;
	padding:0;
}

#display{
	background-color:#23719F;

	border-radius: 5px;

	width:30%;

	color:white;
	display:block;

	margin: 20px auto;
	border:1px solid silver;
	padding:0;
}

.centerDisplay{
	background-color:#23719F;

	color:white;
	font-weight:bold;
	font-size:3em;

	border-radius: 5px;
	display:block;
	text-align:center;

	margin:20px auto;
	border:0;
	padding:0;
}