.infoTable{
	background-color:#dedede;

	border-radius: 10px;

	height:auto;
	width:300px;

	margin:20px;
	border:0;
	padding:0;
}

.tableTitle{
	background-color:#dedede;
	color:#505151;
	font-weight:bold;

	display:inline-block;

	height:30px;
	width:50%;

	margin:0px 0px 0 20px;
	border:0;
	padding:20px 0 0 0;
}

#incomeTotal{
	background-color:#dedede;

	width:30%;

	font-weight:bold;
	color:green;
	text-align:right;

	display:inline-block;

	margin:0;
	border:0;
	padding:0;
}

#expenseTotal{
	background-color:#dedede;

	width:30%;

	font-weight:bold;
	color:red;
	text-align:right;

	display:inline-block;

	margin:0;
	border:0;
	padding:0;
}

#incomes{
	float:left;
}

#expenses{
	float:right;
	margin:-139px 20px 0 0;
}


