.infoTable{
	background-color:#dedede;

	border-radius: 10px;

	height:auto;
	width:300px;

	margin:20px;
	border:0;
	padding:0;
}

.tableTitle{
	background-color:#dedede;
	color:#505151;
	font-weight:bold;

	height:30px;
	width:90%;

	margin:0px auto;
	border:0;
	padding:20px 0 0 0;
}

#incomes{
	float:left;
}

#expenses{
	float:right;
	margin:-139px 20px 0 0;
}


