<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='../css/dashboard.css' />
		<link rel='stylesheet' type='text/css' href='../css/creation.css' />
		<link rel='stylesheet' type='text/css' href='../css/page.css' />
		<link rel='stylesheet' type='text/css' href='../css/lists.css' />

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type='text/javascript' src='../js/stats.js'></script>
		<script type='text/javascript' src='../js/dashboard.js'></script>
		<script type='text/javascript' src='../js/onReady.js'></script>
	</head>

	<body>

		<div id='headerWrap'>
			<img id='logo' src='../resources/logo.png' />
		</div>

		<div id='contentWrap'>
			<div id='incomes' class='infoTable'>
				<div class='tableTitle'>INCOMES</div>
				<div id='incomeTotal'></div>
				<div class="editBox">	
					<h1>NEW ITEM</h1>
					<input type="text" class="editTitle" style="display:inline-block" value="Title" name="newTitle">
					<input type="text" class="editMoney" value="$ Low" name="lowEndAmount">
					<input type="text" class="editMoney" value="$ High" name="highEndAmount">
				</div>
				<div class='addButton'>+ ADD</div>
				<div class='cancelButton'>CANCEL</div>
				<div class='saveButton'>SAVE</div>
			</div>

			<div id='display'>REAL INCOME:
				<div class='centerDisplay'></div>
			</div>

			<div id='expenses' class='infoTable'>
				<div class='tableTitle'>EXPENSES</div>
				<div id='expenseTotal'></div>
				<div class="editBox">	
					<h1>NEW ITEM</h1>
					<input type="text" class="editTitle" style="display:inline-block" value="Title" name="newTitle">
					<input type="text" class="editMoney" value="$ Low" name="lowEndAmount">
					<input type="text" class="editMoney" value="$ High" name="highEndAmount">
				</div>
				<div class='addButton'>+ ADD</div>
				<div class='cancelButton'>CANCEL</div>
				<div class='saveButton'>SAVE</div>
			</div>
		</div>

	</body>
</html>