<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='../css/dashboard.css' />
		<link rel='stylesheet' type='text/css' href='../css/creation.css' />
		<link rel='stylesheet' type='text/css' href='../css/page.css' />
		<link rel='stylesheet' type='text/css' href='../css/lists.css' />

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type='text/javascript' src='../js/listMath.js'></script>
		<script type='text/javascript' src='../js/stats.js'></script>
		<script type='text/javascript' src='../js/dashboard.js'></script>
		<script type='text/javascript' src='../js/eventListeners.js'></script>
		<script type='text/javascript' src='../js/onReady.js'></script>
	</head>

	<body>

		<div id='headerWrap'>
			<img id='logo' src='../resources/logo.png' />
		</div>

		<div id='contentWrap'>
			<div id='incomes' class='infoTable'>
				<div class='tableTitle'>INCOMES</div>
				<div class='addItem' name='addIncome'>+ ADD</div>
			</div>

			<div id='display'>REAL INCOME:
				<div class='centerDisplay'></div>
			</div>

			<div id='expenses' class='infoTable'>
				<div class='tableTitle'>EXPENSES</div>
				<div class='addItem' name='addExpense'>+ ADD</div>
			</div>
		</div>

	</body>
</html>